.custom-content {
    display: flex;
    flex-direction: column;
    z-index: 9;
}.modal-custom-btn {
    color: white;
    background-color: darkmagenta;
    font-family: sans-serif;
    padding: 8px 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}.modal-custom-btn:hover { background-color: rgb(107, 1, 107); }
.modal-custom-btn-close {
    color: white;
    background-color: darkred;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 12px;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    border-radius: 0 0 0 12px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}.modal-custom-btn-close:hover { background-color: rgb(107, 1, 1); }
.modalme-custom {
    display: flex;
    justify-content: center;
    margin-top: 215px;
}.modalme-btns {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 20px;
    justify-content: space-around;
}.modalme-btns .modalme-btn {
    color: #fff;
    background-color: lightblue;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}.modalme-btns .modalme-btn:hover { background-color: rgb(149, 199, 216); }
.modalme-btns .modalme-btn.active { background-color: steelblue; }

@media screen and (max-width: 768px) {
    .modal-custom-content { width: 450px; }
}
@media screen and (max-width: 576px) {
    .modal-custom-content {
    width: 200px;
    height: 250px; }
    .modalme-btns { grid-template-columns: auto auto auto; }
}